<footer class="w-full bottom-0 py-6">
    <div class="container mx-auto max-w-2xl flex flex-col lg:flex-row items-center lg:justify-between text-xs">
        <p>Copyright © Moritz Tomasi</p>

        <nav>
            <ul class="flex flex-row">
                {%- for item in collections.all | eleventyNavigation -%}
                    {%- set isCurrent = (item.url == page.url) -%}
                    {%- set isParent = item.url != '/' and item.url in page.url -%}
                    <li class="pr-6 last:pr-0">
                        <a href="{% if iscurrent %}#main{% else %}{{ item.url | url }}{% endif %}">
                            {{ item.title }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        </nav>
    </div>
</footer>