<header class="w-full">
    <div class="w-full max-w-2xl container mx-auto flex flex-row items-center py-12">
        <figure class="w-16">
            <img src="{{ '/assets/logo.png' | url }}"/>
        </figure>

        <div class="w-full flex flex-col pl-4 lg:pl-6">
            <div class="w-full flex flex-row items-center">
                <h1 class="text-2xl font-semibold">{{ meta.title }}</h1>

                <div class="lg:hidden pt-1 ml-6">
                    <i x-on:click="onToggleThemeSelector()" class="fas fa-fill-drip fa-lg mr-2"></i>
                    <i x-on:click="onToggleMobileNav()" class="fa fa-bars fa-lg"></i>
                </div>
            </div>

            <div class="nav_header lg:hidden" x-show="isMobileNavOpen">
                {% include "navigation.njk" %}
            </div>

            <div class="nav_header hidden lg:inline">
                {% include "navigation.njk" %}
            </div>
        </div>
    </div>
</header>