<header class="w-full">
    <div class="w-full max-w-2xl container mx-auto flex flex-row items-center py-12">
        <figure class="w-16">
            <img src="{{ '/assets/logo.png' | url }}"/>
        </figure>

        <div class="w-full flex flex-col pl-4 lg:pl-6" x-data="{ open: false }">
            <div class="w-full flex flex-row items-center">
                <h1 class="text-2xl">{{ meta.title }}</h1>

                <span class="lg:hidden pt-1 ml-12" x-on:click="open = !open">
                    <i class="fa fa-bars fa-lg"></i>
                </span>
            </div>

            <div class="lg:hidden" style="color: #D3FFE9" x-show="open">
                {% include "navigation.njk" %}
            </div>

            <div class="hidden lg:inline" style="color: #D3FFE9">
                {% include "navigation.njk" %}
            </div>
        </div>
    </div>
</header>