<header class="w-full max-w-2xl container mx-auto py-12">
    <div class="w-full flex flex-row items-center">
        <figure class="hidden sm:inline w-20 pr-6">
            <img src="{{ '/assets/logo.png' | url }}" alt="logo"/>
        </figure>

        <div class="flex flex-row">
            <div class="flex flex-col mr-8">
                <h1 class="text-2xl font-semibold">{{ meta.title }}</h1>

                <div>
                    {% include "navigation.njk" %}
                </div>
            </div>
        </div>
    </div>
</header>