<nav>
    <ul class="flex flex-row" style="color: #D3FFE9">
        {%- for item in collections.all | eleventyNavigation -%}
            {%- set isCurrent = (item.url == page.url) -%}
            {%- set isParent = item.url != '/' and item.url in page.url -%}
            <li class="pr-6">
                <a href="{% if iscurrent %}#main{% else %}{{ item.url | url }}{% endif %}">
                    {{ item.title }}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>