<div x-data="ingredients()" x-init="getCalculatedIngredients()" class="flex flex-col">
    <div class="py-1">
        <input class="px-1" type="number" name="pizzas" min="1" x-model.number="numberOfPizzas" x-on:change="getCalculatedIngredients()"/>
        <label for="pizzas">pizza(s)</label>
    </div>
    <div class="py-1">
        <input class="px-1" type="number" min="1" x-model.number="gramsPerDoughBall" x-on:change="getCalculatedIngredients()"/>
        <label>grams / dough ball</label>
    </div>
    <div class="py-1">
        <input class="px-1" type="number" min="1" x-model.number="waterContent" x-on:change="getCalculatedIngredients()"/>
        <label>% water</label>
    </div>
    <div class="flex flex-col pt-6">
        <div>
            Flour:
            <span x-text="flour"></span>g
        </div>
        <div>
            Water:
            <span x-text="water"></span>g
        </div>
        <div>
            Salt:
            <span x-text="salt"></span>g
        </div>
        <div>
            Yeast:
            <span x-text="yeast"></span>g
        </div>
    </div>
</div>

<script>
    function ingredients() {
        return {
            numberOfPizzas: 1,
            gramsPerDoughBall: 200,
            waterContent: 57,
            flour: 0,
            water: 0,
            salt: 0,
            yeast: 0,
            getCalculatedIngredients: function () {
                this.flour = Math.round((this.numberOfPizzas * this.gramsPerDoughBall) / (1 + (this.waterContent / 100) + 0.03 + 0.002));
                this.water = Math.round((this.flour * this.waterContent) / 100);
                this.salt = Math.round(0.03 * this.flour);
                this.yeast = Math.round((0.002 * this.flour) * 100) / 100;
            }
        }
    }
</script>