@tailwind base;

body {
  @apply leading-7;
}

h1 {
  @apply text-2xl;
  color: #fffffe;
}
h2 {
  @apply text-xl;
  color: #fffffe;
}
h3 {
  @apply text-lg;
  color: #fffffe;
}

#text {
  @apply text-sm;
  color: #94a1b2;
}

#text a {
  @apply underline;
}

#text p {
  @apply my-6;
  overflow-wrap: break-word;
  hyphens: auto;
}

#text ul {
  @apply list-disc;
  @apply my-6;
  @apply ml-4;
  overflow-wrap: break-word;
  hyphens: auto;
}

pre,
code {
  font-feature-settings: normal;
  @apply text-base;
}

@tailwind components;
@tailwind utilities;
