@tailwind base;

body {
  @apply leading-7;
  background-color: var(--color-bg)
}

h1 {
  @apply text-2xl;
  color: var(--color-secondary);
}

h2 {
  @apply text-xl;
  color: var(--color-secondary);
}

h3 {
  @apply text-lg;
  color: var(--color-secondary);
}

.nav_header {
  color: var(--color-primary);
}

.posts_label {
  color: var(--color-primary);
}

.post_date {
  color: var(--color-text);
}

.post_title {
  color: var(--color-primary);
}

.post_title_list {
  color: var(--color-secondary);
}

#text {
  @apply text-sm;
  color: var(--color-text);
}

#text a {
  @apply underline;
}

#text p {
  @apply my-6;
  overflow-wrap: break-word;
  hyphens: auto;
}

#text ul {
  @apply list-disc;
  @apply my-6;
  @apply ml-4;
  overflow-wrap: break-word;
  hyphens: auto;
}

pre,
code {
  @apply text-base;
  font-feature-settings: normal;
}

@tailwind components;
@tailwind utilities;
