---
layout: base
eleventyNavigation:
  key: Travel
  order: 4
---
<div class="flex flex-col">
  {%- for country in collections.countries -%}
    {% set absolutePostUrl %}{{ country.url | url  }}{% endset %}
    <p>
      {{ country.data.flag }}
      <a href="{{ country.url }}">{{ country.data.title }}</a>
    </p>
  {%- endfor -%}
</div>