---
layout: base
eleventyNavigation:
  key: Travel
  order: 4
excludeFromSitemap: true
---
<div class="flex flex-col">
  <p class="mb-6">
    Under construction...
  </p>

  {%- for country in collections.countries -%}
    {% set absolutePostUrl %}{{ country.url | url  }}{% endset %}
    <p>
      {{ country.data.flag }}
      {# <a href="{{ country.url }}">{{ country.data.title }}</a> #}
      {{ country.data.title }}
    </p>
  {%- endfor -%}
</div>