---
title: Oops! Not Found
permalink: 404.html
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta.title }}</title>

        {% include "meta.njk" %}
    </head>
    <body class="w-full h-screen flex flex-col items-center justify-center font-mono text-black">
        <figure class="w-40">
            <img src="{{ '/assets/404_icon.webp' | url }}"/>
        </figure>
        <p class="text-center px-4 py-6">
            Looks like you took a wrong turn!<br />
            <a class="underline cursor-pointer" href="{{ '/' | url }}">Go back</a>
        </p>
    </body>
</html>