---
layout: base
eleventyNavigation:
  key: Home
  order: 0
---

<section>
  <p class="home_text text-base">
    This is my website. There are many like it, but this one is mine.
  </p>
  <p class="home_text text-base pt-4">
    Contact:
    <a href="mailto:tomasi.moritz@gmail.com">
      <i class="fa fa-envelope"></i>
    </a>,
    <a href="https://www.linkedin.com/in/moritz-tomasi-990398163/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    and
    <a href="https://github.com/moritztomasi" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </p>
</section>

<section class="pt-24">
  <h2 class="posts_label text-xl">Posts</h2>

  <div class="flex flex-col text-sm pt-4">
    {%- for post in collections.posts | reverse -%}
      <div class="flex flex-row">
        {% set absolutePostUrl %}{{ post.url | url  }}{% endset %}
        <span class="post_date">{{ post.date | dateformat }}</span>
        <a class="post_title_list pl-12" href="{{ post.url }}">{{ post.data.title }}</a>
      </div>
    {%- endfor -%}
  </div>
</section>