<!DOCTYPE html>
<html lang="{{ meta.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta.title }}</title>

        {% include "meta.njk" %}
    </head>
    <body class="bg-gray-800 font-mono text-white">
        <div class="container mx-auto">
            {% include "header.njk" %}

            <main id="main" class="main" tabindex="-1">
                {{ content | safe }}
            </main>

            {% include "footer.njk" %}
        </div>
    </body>
</html>