<!DOCTYPE html>
<html class="h-full" lang="{{ meta.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta.title }}</title>

        {% include "meta.njk" %}
    </head>
    <body class="w-full h-full flex flex-col font-mono text-white px-4 lg:px-0" style="background-color: #16161a">
        {% include "header.njk" %}

        <main class="container mx-auto max-w-2xl flex-1">
            {{ content | safe }}
        </main>

        {% include "footer.njk" %}
    </body>
</html>