<!DOCTYPE html>
<html class="h-full" lang="{{ meta.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta.title }}</title>

        {% include "meta.njk" %}
    </head>
    <body class="h-full container mx-auto flex flex-col max-w-2xl font-mono text-white" style="background-color: #465362">
        {% include "header.njk" %}

        <main class="flex-1">
            {{ content | safe }}
        </main>

        {% include "footer.njk" %}
    </body>
</html>