---
layout: base
---

<article id="text">
    {% if title %}
        <h1 style="color: #d3ffe9">{{ title }}</h1>
    {% endif %}

    {% if showDate %}
        <h2 class="text-base">{{ page.date | dateformat }}</h2>
    {% endif %}

    {{ content | safe }}
</article>

<aside hidden="hidden" class="fixed top-0 right-0 mt-12">
    {{ content | toc | safe }}
</aside>