---
layout: base
---

<article id="post">
    <h1 style="color: #d3ffe9">{{ title }}</h1>
    <h2>{{ page.date | dateformat }}</h2>
    <div class="pt-12">
        {{ content | safe }}
    </div>
</article>